<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">
    <select id="list" parameterType="ShoppingCart" resultType="ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
        order by create_time desc
    </select>

    <delete id="delete" parameterType="ShoppingCart">
        delete from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
        </where>
    </delete>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into shopping_cart (user_id, dish_id, setmeal_id, dish_flavor, create_time, name, image, number, amount)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.userId}, #{item.dishId}, #{item.setmealId}, #{item.dishFlavor}, #{item.createTime}, #{item.name}, #{item.image}, #{item.number}, #{item.amount})
        </foreach>
    </insert>
</mapper>